body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
header img{
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
}
header p{
    font-size: 50px;
    margin: 0; 
}